
* {margin:0; padding:0; list-style:none; font-size:13px}
table {border-collapse:collapse; width:100%}
img {border:none}

div.leftMenu {float:left}
div.login {width:174px; height:91px; background:url(../images/bg_login.gif) no-repeat; margin-bottom:8px; position:relative}
div.login p {position:absolute; top:14px; left:11px}
div.login div.logout {position:absolute; top:31px; left:13px}
div.login div.fund {position:absolute; top:31px; left:82px}
div.login div.center {position:absolute; top:54px; left:13px}

div.navi {background:url(../images/navi_top.gif) no-repeat; width:172px; padding-top:61px}
div.navi ul {background:url(../images/navi_back.gif)}
div.navi ul li {border-bottom:1px solid #d8d8d8; margin:0 14px 0 16px}
div.navi ul li.extend {background:url(../images/bullet_plus.gif) no-repeat 126px 5px;}
div.navi ul li.extended {background:url(../images/bullet_minus.gif) no-repeat 126px 5px;}
div.navi ul li.extended ul {background:#ededed; padding:8px 0}
div.navi ul li.extended ul li {border:none; padding:3px 0}
div.navi ul li.extended ul li a {text-decoration:none; color:#676767}
div.navi ul li.extended ul li.selected a {color:#c5293e}
div.navi div.cap {background:url(../images/navi_bottom.gif); height:21px}

div.content {padding:30px 0 0 28px; float:left; position:relative; width:711px}
div.content h2 {}
div.content h3 {padding:15px 0px 5px 0px; position:relative}
div.content h3 span {position:absolute; top:13px; right:0px; font-weight:normal}
div.content div.location {position:absolute; top:40px; right:3px}
div.content div.visual {margin:15px 0 5px 0}

ul.tabMenu {background:url(../images/tabbg.gif) repeat-x; height:37px}
ul.tabMenu li {float:left}

div.account {clear:both; position:relative; margin:10px 0}
div.account dl {border:1px solid #dbdbdb; background:#eee; padding:10px; height:15px}
div.account dl dt {float:left; background:url(../images/bullet_arrow.gif) no-repeat 0 8px; padding:3px 0 0 10px}
div.account dl dd {float:left; padding-left:10px; margin-right:20px}
div.account div.searchbtn {position:absolute; right:7px; top:10px; cursor:pointer}

table.gridTable {margin-bottom:20px; border-spacing:0px; border-top:2px solid #7c7c7c}
table.gridTable th {background:#ebebeb; border:1px solid #b6b6b6; padding:5px; position:relative}
table.gridTable th img {position:absolute; top:3px; right:3px}
table.gridTable td {border:1px solid #b6b6b6; padding:5px}
table.gridTable td img {vertical-align:middle}
table.gridTable td.c {text-align:center}
table.gridTable td.r {text-align:right}
table.gridTable td.red {color:#ff2b00}
table.gridTable td.blue {color:#217fff}
table.selectable tr {background:#fff; cursor:pointer}
table.selectable tr.selected {background:#e6f6ff}

div.btns {text-align:right; padding:10px 0; position:relative}
div.btns p {position:absolute; left:0; top:15px}


div.popWrapper {width:600px; height:600px; background:url(../images/bg_pop.jpg) no-repeat; position:relative; display:none; position:absolute; z-index:1000; top:40px; left:80px}
div.popWrapper p.to {position:absolute; top:87px; left:84px}
div.popWrapper p.from {position:absolute; top:414px; left:157px}
div.popWrapper p.eng {position:absolute; top:414px; left:243px}
div.popWrapper p.uname {position:absolute; top:170px; left:370px; font-size:20px}

ul.step {padding-bottom:30px; display:table}
ul.step li {float:left}
ul.steps {padding-bottom:30px; display:table}
ul.steps li {float:left}

div.grid {width:100%}
ul.investStep {margin-bottom:15px; display:table}
ul.investStep li {float:left; width:237px; height:345px; position:relative}
ul.investStep li.step0 {background:url(../images/step2_1a.gif) no-repeat; }
ul.investStep li.step1 {background:url(../images/step2_1b.gif) no-repeat; }
ul.investStep li.step2 {background:url(../images/step2_1c.gif) no-repeat; }
ul.investStep li ul {position:absolute; left:27px; top:163px}
ul.investStep li ul li {height:auto; cursor:pointer}

div.grid4 {}
div.grid4 .g1 {float:left; width:242px}
div.grid4 .g2 {float:left; padding:80px 5px 0 5px}
div.grid4 .g3 {float:left; width:305px}
div.grid4 .g4 {float:left; padding-left:5px}
div.grid4 .g1 td {padding:7px 0 8px 0}
div.grid4 .g1 p, div.grid4 .g3 p {padding:10px 0}

div.grid2 th, div.grid2 td {font-size:11px}
div.grid2 table {height:150px}
div.grid2 .g1 {float:left; width:343px;}
div.grid2 .g2 {float:left; width:342px; padding-left:10px}
div.grid2 .g1 p {padding:10px 0}
div.grid2 .g3 {float:left; width:413px;}
div.grid2 .g4 {float:left; width:282px; padding-left:10px}
.vod {cursor:pointer}

div.grid2a .g1 {float:left}
div.grid2a .g2 {float:left; padding-left:20px}
div.grid2a .g1 p {padding:10px 0}

div.grid5 {padding-top:30px; display:table}
div.grid5 .g1 {float:left; width:462px}
div.grid5 .g2 {float:left; width:235px; padding-left:10px}
div.grid5 .g2 ul {border:1px solid #d7d7d7; display:table; border-left:none}
div.grid5 .g2 ul li {float:left; width:116px; border-left:1px solid #d7d7d7; text-align:center; padding:5px 0}
div.grid5 .g2 ul li.selected {background:#ebebeb}
div.grid5 .g2 img {width:235px}

dl.notice {margin:15px}
dl.notice dt {padding:5px 0}
dl.notice dd {padding-left:15px}

div.icons {position:relative}
div.tpop {z-index:1000; position:absolute; top:20px; left:20px; border:1px solid #b4b4b4; background:#fff; width:150px; height:80px}
div.tpop .title {position:absolute; top:13px; left:13px}
div.tpop .value {position:absolute; top:38px; left:13px; font-size:25px}
div.tpop .rate {position:absolute; top:45px; left:90px}
div.tpop .red {color:red}
div.tpop .blue {color:blue}

#btnVod {cursor:pointer}













